<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Contact Us</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/submenu.css">
  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
<!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
</head>
<style type="text/css">
  .error {color: red;
          padding-left: 10px;
          padding-top: 10px;}
  .valid {color: blue;
          padding-left: 10px;}
</style>
<body id="page-top">

  <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Trang thi trắc nghiệm trực tuyến</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Trang chủ
              <span class="sr-only">(current)</span>
            </a>
          </li>
		      <li class="nav-item">
            <a class="nav-link" href="about.html">Giới thiệu</a>
          </li>
		      <li class="nav-item">
            <a class="nav-link" href="contact.html">Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tài khoản</a>
            <ul class="sub-menu">
              <li><a href="register.html">Đăng ký</a></li>
              <li><a href="login.html">Đăng nhập</a></li>
              <li><a href="forgotpassword.html">Quên mật khẩu</a></li>
              <li><a href="login.html">Đăng xuất</a></li>
              <li><a href="passwordchange.html">Đổi mật khẩu</a></li>
              <li><a href="profile.html">Cập nhật tài khoản</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>CONTACT US</h1>
      <p class="lead"></p>
    </div>
  </header>

  <div class="container contact" ng-app="myApp" ng-controller="myCtrl">
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-10">
			<div class="contact-form">

        <form name="Form" ng-submit="submitForm()" novalidate>

				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" name="name" ng-model="name" placeholder="Enter your name">
           <span class="valid" ng-show="Form.name.$valid">Bạn có thể ẩn danh</span>
				  </div>
				</div>

				<div class="form-group">
				<label class="control-label col-sm-2" for="fname">Email:</label>
				  <div class="col-sm-10">
					<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required="true">
           <span class="error" ng-show="Form.email.$error.required"> Vui lòng nhập </span>
          <span class="error" ng-show="Form.email.$error.pattern">Mail không hợp lệ </span>
            <span class="valid" ng-show="Form.email.$valid">Hợp lệ</span>
				  </div>
				</div>
				
				<div class="form-group">
				<label class="control-label col-sm-2" for="fname">Subject:</label>
				  <div class="col-sm-10">
					<input type="subject" class="form-control" id="subject" placeholder="Enter subject" name="subject">
          <span class="valid" ng-show="Form.subject.$valid"></span>
				  </div>
				</div>
				
				<div class="form-group">	
				 	  <label class="control-label col-sm-2" for="comment">Message:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment" name="comment" ng-model="comment"></textarea>
          <span class="valid" ng-show="Form.comment.$valid"></span>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Submit</button>
				  </div>
				</div>
      </form>
			</div>
		</div>
	</div>
</div>


 

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">FM14 - ISC09 - Lập Trình Frontend Backend</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="js/checkformcontact.js"></script>



</html>
